{
	"data": "ENC[AES256_GCM,data:x5/7vYo3PmOcd8nGttqV2DbRmkdZ1yHgw0exE5dpHoY3NSp2S1r3yZKD1id7QtvBOG5zRKHDvn3f0ZVGiEvM7NkXmaRM9ht80VJNEOPfsXYj7Tlihs7LIe5mQvZpiGliAYdCt8LaF4G8cqq4SdNixRQCOo4hiA4UOBNIPIrG6KiMpQ0p1SE++tMarosLm6uTPe1PwmO/uabCa3p0etyxA1aG46SK1mlXifVngCqGZEGhXfGuisebgbf1WSk60mhPlaAsqpsyr50aH8ryCmR+bWqMFXZlbsHzHI/28lT4BSx3g0kmyT6dnOmJ+AyBiu+wVc2lSN+Gc5t8RnPY7yFn7YCuSbmV0LPoiTEZZ/WTOTjv2kHjirVWqEa6op9B8eV2t9txuCWz6QR/tZIReRaeRdp13FUkC0ncLjESkUzDFKt122twgGptCOiPyKqWOpsSLOzzzrszIR941+sbFEVeh+9B57eIf0u0YBfiFg==,iv:a4k7J8wVovLX+RU1lm3l/O7dQZnkvjhQquS4xIcNdfE=,tag:1QUJV3EGhMT04+tFPfqqTg==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBDV2tXbXFEVmlOUFk5SlF6\nOUdab3g1UlNmZWc1Z2RySHNJVGhhTjZ3dUVNCkNDTnozMTBqQ1I2cWh6azgvU1NC\ndFhXY25YcXZuOHBOYmw3d3pSRjJSZWMKLS0tIEttUzF4bjdWN0tBWjE4cFNIa1pn\nV1hjSmdieHpJQWRmYTd3VVJhQk9ybmsK8chEZbayr0zORtqbV1+34FQ4QRBqRnuH\nF7LWdQicBn+BGZ28tGiba+izuJeW3AcY8uOT3KHvf7Tsebp3YFGefg==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2026-05-20T14:32:43Z",
		"mac": "ENC[AES256_GCM,data:GAfTv5tcnstzhUzdERjOXmE0jfL54aLJ8feiBYP4CqLUUktEEFuWPKBr2hs9Nx72Ha6jFjsuv27luiGdPqsv38iiwWNSCOcXkPubW76rU2jifFpllGJ0o49FAT/7tfHBXRl3gv27hz49Suag2F8pQopgDnmcX7OJ6DTxZQ/8Cy8=,iv:LfhY9QKThBGBoAgooRGs/VA22GBV9vsu86YDdjdHl6I=,tag:d3/vqyaK2s0QMlMdB3lMig==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}
